body {
	background-color: #eeeeee;
}

#header-wrapper {
	background-color: rgba(38, 62, 99, 0.88);
	padding-top: 1.5em;
	text-align: center;
}

.header-text {
	color: #F5F3F3;
}

.body-text-wrapper {
	margin-top: 30px;
	text-align: center;
}

.im-wrapper{
	margin-top: 15px;
}

.what-wrapper {
	margin-top: 10px;
}

.about-intro {
	margin-top: 30px;
}

#self {
	border-radius: 1%;
}

.about-page-contact {
	text-align: center;
}

.picture-text {
	text-align: right;
}

.about-page-bottom {
	margin-top: 10px;
	margin-bottom: 50px;
}

* {
	margin: 0;
}
html, body {
	height: 100%;
}
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -6em;
}
.footer, .push {
	height: 6em;
}

.footer {
	background-color: #008CBA;
	clear: both;
	padding-bottom: 100px;
}

.footer .footer-offset {
	padding-top: 20px;
}

#footer-links {
	margin: -52px 0 0 52px;
	overflow: auto;
    width: 100%;
}

#footer-links div {
	width: 50%;
	float: left;
}

#footer-links div a {
	float: right;
}