body {
	background-color: #eeeeee;
}

#header-wrapper {
	background-color: #008CBA;
	padding-top: 1.5em;
	text-align: center;
    padding-bottom: 1.5em;
}

.header-text {
	color: #F5F3F3;
}

.body-text-wrapper {
    margin-top: 2em;
	text-align: justify;
}

#self {
	border-radius: 50%;
	margin-bottom: 1.5em;
}

#self-text {
	text-align: center;
}

* {
	margin: 0;
}

html, body {
	height: 100%;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	margin: 0 auto -5em;
}

.active {
	background-color: #008CBA;
}

.icon {
    height: 2em;
    width: 2em;
}

.footer, .push {
	height: 6em;
}

.footer {
	background-color: #008CBA;
	padding-bottom: 1%;
}

.footer .footer-offset {
	padding-top: 20px;
}

.footer-links {
	margin: -52px 0 0 52px;
	overflow: auto;
    width: 100%;
}

.footer-links div {
	width: 50%;
	float: left;
}

.footer-links div a {
	float: right;
}

.personal-info {
	text-align: center;
}
