#self {
    border-radius: 50%;
    margin-bottom: 1.5em;
    animation-name: pop;
    animation-duration: 1.2s;
    animation-delay: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    transform: scale(0, 0);
}

#intro {
    text-align: center;
    background-color: #e5e6e8;
}

#topbar {
    margin-top: 10em;
}

#intro-text {
    opacity: 0;
    animation-name: fade-up;
    animation-timing-function: ease;
    animation-delay: 1.7s;
    animation-duration: 1.0s;
    animation-fill-mode: forwards;
    transform: translateY(-50%);
}

body {
    color: #566b78;
    line-height: 1.5;
    padding: 4em 1em;
    margin: 0 auto;
    /*max-width: 50em;*/
}

@keyframes pop {
    0% {
        transform: scale(0, 0);
    }
    60% {
        transform: scale(1.2, 1.2);
    }

    100% {
        transform: scale(1.0, 1.0);
    }
}

@keyframes fade-up {
    0% {
        transform: translateY(0%);
    }
    100% {
        opacity: 1;
    }
}
